@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Open+Sans:300,400');

body {
	background: #f0f0f0;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

#container {
	box-sizing: border-box;
	width: 60%;
	background: #fff;
	border: #ff5a5d 1px solid;
	margin: 20px auto;
	overflow: auto;
	padding: 50px;
}

header {
	text-align: center;
	border-bottom: #ff5a5d solid 1px;
}

header h1 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

header p {
	font-family: 'Cutive Mono', monospace;
	color: #ff5a5d;
	padding: 0;
	margin-top: 5px;
	margin-bottom: 30px;
}

form {
	padding-top: 10px;
}

form h3 {
	color: #ff5a5d;
	font-weight: 400;
}

section {
	min-height: 400px;
}

footer {
	text-align: center;
}

footer p {
	font-family: 'Cutive Mono', monospace;
	font-size: 12px;
}

input[type="submit"] {
	background-color: #ff5a5d;
	font-family: 'Cutive Mono', monospace;
	font-size: 16px;
	border: 0;
	color: #fff;
	padding: 10px 15px;
	cursor: pointer;
}

#results h3 {
	color: #ff5a5d;
	font-family: 'Cutive Mono', monospace;
	background: #fde0dc;
	padding: 10px;
	margin: 10px 0;
}

#results span {
	color: #000;
}